*.iml
.gradle
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
local.properties
DroidMeida/app/build
DroidMedia/.kotlin/
opengl/app/build
DroidMedia/carica/build-logic/convention/build
