<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:remove="android:appComponentFactory"
        >

        <activity android:name=".ExtractFrameAndSaveKeyFrameToFileActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".DecodeFrameBitMapToViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.me.harris.extractframe.ExtractFrameUsingParallelExtractorActivity" />
        <activity android:name="com.me.harris.extractframe.ExtractFrameEntryActivity" />
        <activity android:name="com.me.harris.extractframe.finale.FrameExtractFinalActivity" />
        <activity android:name="com.me.harris.extractframe.glextractor.ExtractUingOpenglActivity" />
    </application>
</manifest>
