<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <activity
            android:name="com.me.harris.playerLibrary.video.MediaCodecVideoMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.me.harris.playerLibrary.openglplayvideo.MediaPlayerSurfaceStubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.me.harris.playerLibrary.textureview.TextureViewMediaCodecVideoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.me.harris.playerLibrary.VideoPlayExtryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.me.harris.playerLibrary.video.sharedSurface.SharedSurfaceTextureListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.me.harris.playerLibrary.video.sharedSurface.SharedSurfaceTextureDetailActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".process.ui.SendSurfaceToAnotherProcessSenderActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.me.harris.playerLibrary.exoplayer.ExoplayerSampleActivity" />
        <activity android:name="com.me.harris.playerLibrary.ffmediaplayer.FFMediaPlayerActivity" />
        <activity android:name="com.me.harris.playerLibrary.video.MediaCodecMain2Activity"
                android:screenOrientation="portrait"
                />
        <activity android:name="com.me.harris.playerLibrary.compose.basic.ComposeVideoPlayerActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity android:name="com.me.harris.playerLibrary.compose.landscape.ComposeExoplayerHorizontalActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />

        <service android:name="com.me.harris.playerLibrary.process.ipc.RemoteMediaPlayerBackEndService"
            android:process=":playerService"
            />

    </application>

</manifest>
