<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application>
        <activity android:name="com.jadyn.mediakit.framer.MediaKitDecodeFrameActivity" />
        <activity android:name="com.jadyn.mediakit.MediaKitEntryActivity" />
        <activity android:name="com.jadyn.mediakit.nativecodec.MediaKitNativeCodecActivity" />
        <activity android:name="com.jadyn.mediakit.volan.VolanExperimentalActivity" />
    </application>
</manifest>
