version: '2.1'
orbs:
  android: circleci/android@2.4.0
#   android: circleci/android@1.0.3
  # dt: datatheorem/mobile-secure-orb@1.0.0

executors:
  linux-docker:
    docker:
      - image: fabernovel/android:api-34-gcloud-ndk-snapshot
    resource_class: large
  linux-amd64:
    machine:
      image: android:default
    resource_class: large




jobs:
  assembleDebugOrRelease:
    # executor:
    #   name: android/android-machine
    #   resource-class: large
    #   tag: default
    parameters:
      os:
        type: executor
    executor: << parameters.os >>
    steps:
      - checkout
      - run:
          working_directory: DroidMedia
          name: clone required dependencies , glm and jpeg-turbo
          command: |
            chmod +x ./.buildscripts/ensure_third_party_deps.sh
            bash ./.buildscripts/ensure_third_party_deps.sh
      - run:
          working_directory: DroidMedia
          name: Assemble release build
          command: ./gradlew assembleRelease --stacktrace
      - run:
          working_directory: DroidMedia
          name: show  build results
          command: ls -alSh app/build/outputs/apk/release
      - save_cache:
          working_directory: DroidMedia
          key: dt-mobile-app-cache
          paths:
            - app/build/outputs/apk/release
      - store_artifacts:
          path: DroidMedia/app/build/outputs/apk/release
          destination: releaseApk

            
workflows:
  version: 2
  build:
      jobs:
        - assembleDebugOrRelease:
            matrix:
              parameters:
                os: [linux-docker,linux-amd64]
            filters:
              branches:
                only:
                  - release