<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.me.harris.filterlibrary.FilterEntryActivity" />
        <activity android:name="com.me.harris.filterlibrary.baisc.FilterBasicActivity" />
        <activity android:name="com.me.harris.filterlibrary.imagefilter.ImageFilterActivity" />
        <activity android:name="com.cgfay.filterlibrary.ui.NativeRenderMain2Activity" />
        <activity android:name="com.cgfay.filterlibrary.ui.NativeRenderMainActivity" />
        <activity android:name="com.cgfay.filterlibrary.ui.NativeRenderMain3Activity" />
        <activity android:name="com.me.harris.filterlibrary.opengl.GLMixTwoPictureActivity" />
        <activity android:name="com.me.harris.filterlibrary.opengl.GLLoadYUVActivity" />
        <activity android:name="com.me.harris.filterlibrary.opengl.GLTransformActivity" />
        <activity android:name="com.me.harris.filterlibrary.opengl.GLGaussianBlurActivity" />
    </application>
</manifest>