<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name="com.me.harris.filterlibrary.FilterEntryActivity" />
        <activity android:name="com.me.harris.filterlibrary.baisc.FilterBasicActivity" />
        <activity android:name="com.me.harris.filterlibrary.imagefilter.ImageFilterActivity" />
        <activity android:name="com.cgfay.filterlibrary.ui.NativeRenderMain2Activity" />
        <activity android:name="com.cgfay.filterlibrary.ui.NativeRenderMainActivity" />
        <activity android:name="com.cgfay.filterlibrary.ui.NativeRenderMain3Activity" />
        <activity android:name="com.me.harris.filterlibrary.opengl.GLMixTwoPictureActivity" />
        <activity android:name="com.me.harris.filterlibrary.opengl.GLLoadYUVActivity" />
        <activity android:name="com.me.harris.filterlibrary.opengl.GLTransformActivity" />
        <activity android:name="com.me.harris.filterlibrary.opengl.GLGaussianBlurActivity" />

        <activity android:name="com.videffects.sample.view.AssetsGalleryActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.videffects.sample.view.SamplePlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="landscape"
            >
        </activity>

        <activity
            android:name="com.videffects.sample.view.VideoActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.me.harris.filterlibrary.opengl.GLLoadBitmapActivity"

            />
        <activity android:name="com.me.harris.filterlibrary.freetypes.FreeTypesDisplayTextActivity" />

    </application>
</manifest>
