<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harris.androidMedia">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.harris.androidMedia.App"
        android:screenOrientation="portrait"
        android:clearTaskOnLaunch="true"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.harris.androidMedia.camera2.ui.SurfaceActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name="com.harris.androidMedia.test.SimpleCameraApp"
                  android:screenOrientation="portrait"
                  android:clearTaskOnLaunch="true"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>

        <activity android:name=".camera2.ui.Camera2Activity"/>

        <activity android:name=".exoPlayer.ExoPlayerMainActivity"/>

        <activity android:name=".exoPlayer.SimpleExoPlayerViewActivity"
            android:theme="@style/PlayerTheme"
            />

        <activity android:name=".exoPlayer.SurfaceViewPlayerActivity"
                  android:theme="@style/FullScreenPlayerTheme"

            />

        <activity android:name=".exoPlayer.TextureViewActivity"
                  android:theme="@style/PlayerTheme"

            />


        <activity android:name=".exoPlayer.customize.CustomizePlayerViewActivity"
            android:theme="@style/PlayerTheme"
            />

        <activity android:name=".mediaPlayBack.MediaPlayBackActivity"/>


    </application>

</manifest>
