<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.me.harris.gpuvideo.preview.GPUVideoPreviewVideoActivity" />
        <activity android:name="com.me.harris.gpuvideo.GPUVideoEntryActivity" />
        <activity android:name="com.me.harris.gpuvideo.compose.Mp4ComposeActivity" />
        <activity android:name="com.me.harris.gpuvideo.camera.LandscapeCameraActivity" />
        <activity android:name="com.me.harris.gpuvideo.camera.PortraitCameraActivity" />
        <activity android:name="com.me.harris.gpuvideo.camera.SquareCameraActivity" />
    </application>
</manifest>