name: build docker image for build android application

on:
  workflow_dispatch:
  push:
    branches:
      - docker_image_publish

env:
  REGISTRY_IMAGE: haldir65/android-build-env      

jobs:
  build_docker_image_and_push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    # if: "contains(github.event.head_commit.message, '[DPush]')"
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - name: Set up QEMU
        if: contains(matrix.platform, 'arm64')
        uses: docker/setup-qemu-action@v3
        with:
          platforms: "arm64"
      - name: show platform info
        run:
          uname -a
      - run: echo "This job is running on a ${{ runner.os }} server hosted by GitHub!"

      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}  
    
      - run: echo "The ${{ github.repository }} repository has been cloned."
      - run: echo "Setting up Docker"
      - name: set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - run: echo "start building custom Docker image... "
      # - name: now build Docker image
      #   run: docker build --build-arg VERSION=2.312.0-ubuntu-jammy --build-arg JAVA_VERSION=17 --build-arg SDK_TOOLS=11076708_latest -f Dockerfile --tag=haldir65/android-build-env:latest .
      
      # - name: Look up images
      #   run: docker image ls 

      # - run: echo "done building custom Docker image... for ${{ github.repositoryUrl }}"
      # - name: Run a container from the image not in detached mode.
      #   run: docker run --name=container1 --rm image1
      # - name: show all docker ps
      #   run: docker ps -a

      - name: Build and push amd64
        if: contains(matrix.platform, 'amd64')
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=2.312.0-ubuntu-jammy
            JAVA_VERSION=17
            SDK_TOOLS=11076708_latest
          tags: haldir65/android-build-env:java17-ndk26-api34
      -
        name: Build and push
        uses: docker/build-push-action@v5
        if: contains(matrix.platform, 'arm64')
        with:
          context: .
          push: true
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          file: arm64.Dockerfile
          build-args: |
            VERSION=2.312.0-ubuntu-jammy
            JAVA_VERSION=17
            SDK_TOOLS=11076708_latest
          tags: haldir65/android-build-env:java17-ndk26-api34    
     
      - run: echo "Build status report=${{ job.status }}."


   
