name: Android Build using docker image

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - docker_image_publish

jobs:
  runDebugBuildWithCache:
    runs-on: ubuntu-latest
    container:
      image: docker://haldir65/android-build-env:ubuntu24-sudo-test
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is running on a ${{ runner.os }} server hosted by GitHub!"
      - name: Checkout the code
        uses: actions/checkout@v4
      - run: echo "The ${{ github.repository }} repository has been cloned."

      - run: echo "The workflow is now ready to test your code."
      - name: clone required dependencies , glm and jpeg-turbo
        working-directory: DroidMedia
        run: |
           which sudo
           sudo apt install cmake -y
           cmake --version
        shell: bash
      # - name: show all files
      #   working-directory: DroidMedia
      #   run: ls -al
      # - name: Grant execute permission for gradlew
      #   working-directory: DroidMedia
      #   run: chmod +x gradlew
      # - run: echo "Building Debug APK."
      # - name: Build with Gradle
      #   working-directory: DroidMedia
      #       # run: ./gradlew build
      #   run: ./gradlew assembleDebug
      # - run: echo "Build status report=${{ job.status }}."


   
