name: Android Build using docker image

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  runDebugBuildWithCache:
    if: "contains(github.event.head_commit.message, '[DockerBuild]')"
    runs-on: ubuntu-latest
    container:
      # image: docker://fabernovel/android:api-34-gcloud-ndk-snapshot
      image: docker://haldir65/android-build-env:ubuntu24-java21-ndk26-api34

    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is running on a ${{ runner.os }} server hosted by GitHub!"
      - name: Checkout the code
        uses: actions/checkout@v5
      - run: echo "The ${{ github.repository }} repository has been cloned."
      - name: examine preinstalled software version
        run: |
          java --version
        shell: bash
      # - name: set up JDK 21
      #   uses: actions/setup-java@v4
      #   with:
      #     java-version: 21    
      #     distribution: 'oracle'
      - run: echo "The workflow is now ready to test your code."
      - name: clone required dependencies , glm and jpeg-turbo
        working-directory: DroidMedia
        run: |
          chmod +x ./.buildscripts/ensure_third_party_deps.sh
          ./.buildscripts/ensure_third_party_deps.sh
        shell: bash
      - name: show all files
        working-directory: DroidMedia
        run: ls -al
      - name: Grant execute permission for gradlew
        working-directory: DroidMedia
        run: chmod +x gradlew
      - run: echo "Building Debug APK."
      - name: Build with Gradle
        working-directory: DroidMedia
            # run: ./gradlew build
        shell: bash
        run: |
          bash .buildscripts/build_project.sh -t all
      - run: echo "Build status report=${{ job.status }}."


   
