name: Android Build upon push

on:
  push:
    branches:
      - master


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is running on a ${{ runner.os }} server hosted by GitHub!"
      - name: Checkout the code
        uses: actions/checkout@v2
      - run: echo "The ${{ github.repository }} repository has been cloned."
      - run: echo "Setting up JDK"
      - name: set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17    
          distribution: 'oracle'
          cache: gradle
      - run: echo "The workflow is now ready to test your code."
      - name: show all files
        working-directory: ./DroidMedia
        run: ls -al
      - name: Grant execute permission for gradlew
        working-directory: ./DroidMedia
        run: chmod +x gradlew
      - run: echo "Building Debug APK."
      - name: Build with Gradle
        working-directory: ./DroidMedia
        run: ./gradlew build
      - run: echo "Build status report=${{ job.status }}."
