name: run debug build with jdk 21

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - master

jobs:
  runDebugWithJdk21:
    runs-on: ubuntu-latest
    env:
      builddir: DroidMedia/app/build/outputs/apk
    # if: "contains(github.event.head_commit.message, '[Build]')"
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is running on a ${{ runner.os }} server hosted by GitHub! "
      - name: Checkout the code
        uses: actions/checkout@v5
      - run: echo "The ${{ github.repository }} repository has been cloned."
      - run: echo "Setting up JDK"
      - name: set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21    
          distribution: 'temurin'
          # distribution: 'temurin' # See 'Supported distributions' for available options
          # java-version: '21'
          cache: gradle
      - name: Cache Gradle packages
        uses: ./.github/actions/cache-build-paths
        with:
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
      - run: echo "The workflow is now ready to test your code."
      - name: clone required dependencies , glm and jpeg-turbo
        working-directory: DroidMedia
        run: |
          sudo apt update
          sudo apt install tree ninja-build
          chmod +x .buildscripts/ensure_third_party_deps.sh
          bash .buildscripts/ensure_third_party_deps.sh
        shell: bash
      - name: show all files
        working-directory: DroidMedia
        run: ls -al
      - name: Grant execute permission for gradlew
        working-directory: DroidMedia
        run: chmod +x gradlew
      - run: echo "Building Debug APK."
      
      - name: Build with Gradle
        working-directory: DroidMedia
        shell: bash
        run: |
          bash .buildscripts/build_project.sh -t main

      - name: Build sub apps with Gradle
        working-directory: DroidMedia
        shell: bash
        run: |
          bash .buildscripts/build_project.sh -t subapp
        
      - run: echo "Build status report=${{ job.status }}."
      - name: Generate hashes
        run: |
          tree -L 4 ${{ env.builddir }}
          for file in ${{ env.builddir }}/*; do
            if [ -d "$file" ]; then
              echo "this is an folder: $file"
            else
              sha256sum $file >> ${{ env.builddir }}/hashes.txt
            fi
          done


   
