name: run Detekt

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  runDetekt:
    runs-on: ubuntu-latest
    env:
      builddir: DroidMedia/app/build/outputs/apk
    if: "contains(github.event.head_commit.message, '[Detekt]')"
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is running on a ${{ runner.os }} server hosted by GitHub! "
      - name: Checkout the code
        uses: actions/checkout@v5
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21    
          distribution: 'oracle'
          cache: gradle
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-wrapper.properties') }}   
      - name: detekt
        working-directory: DroidMedia
            # run: ./gradlew build
        shell: bash
        run: |
          bash .buildscripts/build_project.sh -t detekt
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: detekt-report-${{ github.run_id }}
          path: DroidMedia/detekt.tar.gz
          if-no-files-found: error
          retention-days: 1  
      - run: echo "Build status report=${{ job.status }}."